<button class="btn btn-primary" onclick="getTest()">getTest</button>

@section Scripts
    {
    <script>
        var baseAddress = "https://localhost:7173";

        function getTest() {
            //alert("hi");
            axios
                .get
                .then(res => {
                })
                .catch(err => {
                });
        }
    </script>
}